/*TODO reset everything once for all START*/
*,*:before,*:after{
	margin:0;padding:0;position:relative;

	/* replace following by project specific styles */
	font-family:Arial,Tahoma,Helvetica; 
	font-size:14px;
	font-weight:normal;
}
input,textarea,select,a{
	outline:none;
}
input:focus,textarea:focus,select:focus,a:focus{
	/* replace following by project specific styles */
	outline:2px solid purple;
}
/*reset everything once for all END*/

